
/* -- BreakPoints -- */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


/* -- Colors -- */
$black: #2B2D38;
$white: #FFFFFF;
$red: #DB2A6B;
$grey: #ABABAB;
$darkgrey: #464751;

/* -- Fonts --*/
$fontBase:'Poppins', sans-serif;
$fonTitle: 'Merriweather', serif;

/*

nav -> Poppins 400 18px $grey

title ->
- h1 : Merriweather / serif, 700 bold, 80px $white
- h2 : Poppins 400 24px 40px $grey

-btnRed : Poppins 400 18px $white
-btnLearn: Poppins 600 18px Semibold underlined

-services -> h5 Poppins 600 18px $white

*/
