
@use '../abstracts/abstracts' as v;


.container {
    max-width: 1440px;
    min-width: 1440px;
    height: 1080px;
    margin-left: auto;
    margin-right: auto;

    /* -- Background -- */
    background-color: v.$black ;
    /* -- Reset List --*/
    
    ul {
        @include v.reset_ul();
    }
}












