


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;

    figure {

        img {
            width: 235px;
            height: 45px;
            margin-left: 150px; //adjusted from 160px Figma
        }
    }
}
























